chickens/
JakeMac/
morePeeps/
otherPeeps/
pills/
workspace/training_demo/images/
workspace/training_demo/exported-models
workspace/training_demo/annotations
workspace/training_demo/models/
workspace/raining_demo/exported-models/